
.header1{
    position: fixed;
    left: 0px;
    top: 0px;
    font-size: 40px;
    width: 100%;
    padding: 0px;
    background-color: rgb(205, 254, 205);
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tableHeader {
    padding: 15px;
}

.background {
  background-color: white;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}


a:visited {
    color: black;}
a:hover {
    color: rgb(0, 125, 29);
    text-decoration: none;}
a:active {
    color: black;}
a:link {
    text-decoration: none;
    color: black;
}



/* Personbildene om oss*/
.persondiv {
  border: 10px; 
  margin: 100px;
}
.persontable {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold; 
  border-spacing: 10px;
}
.person {
  border: 0px;
  text-align: center;
}
.personskrift {
  font-size: 30px;  
}
.personbilde {
 width: 300px;
 border-radius: 15px;
}

.navnMargin {
  font-size: 12px;
}


.OmOssHeader {
  margin-top: 200px;
  width: 100%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 45px;
}

.OmOssList {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  list-style-type: none;
  padding: 25px;
  font-size: 20px;
}


.beskrivelse {
  width: 100%;
  margin-top: 250px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}


.logo {
  width: 70%;
  float: left;
  padding: 0px;
}

.center {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  padding-top: 25px;
  z-index: -1;
  }

.pos {
    position: fixed;
    right: 0;
    bottom: 0px;
    width: 120px;
    padding: 20px;
    z-index: +1;
  }
.pos2 {
  position: fixed;
  left: 0;
  bottom: 0px;
  width: 120px;
  padding: 20px;
  z-index: +1;
}
.pos3 {
  position: fixed;
  right: 100px;
  top: 30px;
  width: 120px;
  padding: 0px;
  z-index: +1;
}
  .imageGalleri{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
  }
.mid { 
    text-align: center
}



  .start{
    padding-top: 200px;
  }
  .text{
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1cm;
    width: 65%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .galleriSize{
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%
  }


.button {
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin: 20px;
  background-color: rgb(205, 254, 205);
  color: white;
  padding: 10px;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 15px;
  width: 160px;
  text-align: center;
}

.button2 {
  margin-bottom: 65px;
}
.topPad200{
  padding-top: 200px;
}



/*For galleriet*/

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/*Slutt på galleri*/




/* Dropdown Button */
.dropbtn {
  background-color:rgb(133, 254, 133);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 15px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
